<form id="secret-form" action="<%= secrets_url %>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="hidden" name="secret[recipient_id]" value="<%= user_id %>">

	<div id="error-message"></div>

	<label for="secret_title">Title</label>
	<input type="text" name="secret[title]" id="secret_title"><br>

	<label>Tags</label>
	<div id="secret-tag-select"></div>
	<%= link_to "Add another tag", "#", :id => "add-tag" %>
	<p><input type="submit" value="Create"></p>
</form>

<script type="application/json" id="tags">
	{ "tags": <%= Tag.all.to_json.html_safe %> }
</script>

<script type="text/template" id="tags-template">
	<select id="secret_tag_ids" name="secret[tag_ids][]">
	<option value=""> </option>
	<%% _(tags).each(function (tag) { %>
		<option value="<%%= tag.id %>"><%%= tag.name %></option>
	<%%	}) %>
	</select><br>
</script>

<script type="application/javascript">
	var tags = JSON.parse($('#tags').html()).tags;
	var templateCode = $('#tags-template').html();
	var templateFn = _.template(templateCode);
	var selectOptions = templateFn({ tags: tags });
	var addSelect = function () {
		$('#secret-tag-select').append(selectOptions);
	};

	addSelect();

	$('#add-tag').on('click', function (e) {
		e.preventDefault();
		addSelect();
	});

	$('#secret-form').on('submit', function (event) {
		event.preventDefault();
		var formData = $('#secret-form').serializeJSON();
		$.ajax({
			type: "post",
			url: "/secrets",
			data: formData,
			success: function (data) {
				event.currentTarget.reset();
				$('ul#secrets').append($('<li>' + data.title + '</li>'));
				$('#secret-tag-select').empty();
				addSelect();
			},
			error: function (a) {
				$("#error-message").text(a.responseText);
			}
		})
	})
</script>