<h1><%= @user.username %></h1>

<h2>Secrets</h2>
<div id="secrets">
	<% if @user.id == current_user.id %>
		<% secrets = @user.received_secrets %>
	<% else %>
		<% secrets = current_user.secrets_sent(@user) %>
	<% end %>
  <% secrets.each do |secret| %>
    <div class="secret">
			<h3><%= secret.title %></h3><span class="author">(from <%= secret.author.username %>)</span><br>
			<% secret.tags.pluck(:name).each do |tag| %>
			<span class="tag"><%= tag %></span>
			<% end %>
		</div>
  <% end %>
</div>

<div id="secret-form-box">
	<h3>Tell a secret</h3>
<%= render 'secrets/form', user_id: @user_id %>
</div>